<h1 mat-dialog-title>Editer</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Matricule</mat-label>
    <input matInput placeholder="ID" [value]="data.user.idUser" disabled>
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label>Nom</mat-label>
    <input matInput placeholder="Nom" [(ngModel)]="data.user.nom">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Prénom</mat-label>
    <input matInput placeholder="Prénom" [(ngModel)]="data.user.prenom">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Identifiant</mat-label>
    <input matInput placeholder="Identifiant" [(ngModel)]="data.user.username">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Mot de passe</mat-label>
    <input matInput placeholder="Mot de passe" [(ngModel)]="data.user.password">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput placeholder="email" [(ngModel)]="data.user.email">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Actif</mat-label>
    <mat-select [(ngModel)]="data.user.actif">
      <mat-option value="Oui">Oui</mat-option>
      <mat-option value="Non">Non</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Annuler</button>
  <button mat-button (click)="onSave()">Sauvegarder</button>
</div>
