.mat-sidenav-container {
  display: flex;
  font-family: Geomanist, 'Times New Roman', Times, serif;
  height: 100vh;
  position: fixed;
}

.mat-sidenav {
    border: none;
    width: 250px;
    padding-top: 30px;
    margin-top: 10px;
    margin-left: 0.5rem;
    padding-bottom: 20px;
    background-color: #EFEFEF;
    height: 671px;
    display: block;
    padding: 7px 0px;
    border-radius: 20px  0px 0px 20px;
}

.mat-sidenav .sidebar-header {
  padding: 10px 0 10px 15px;
  background-color: #EFEFEF;
  border-radius: 20px 0 0 20px;
}

.mat-sidenav .sidebar-back {
  text-decoration: none;
  color: rgba(20, 0, 100, 1);
  display: flex;
  font-size: 18px;
  font-weight: bolder;
  align-items: center;
}

.mat-sidenav .sidebar-back span {
  margin-left: 10px;
  font-size: 15px;
}

.mat-sidenav h3 {
  padding-left: 30px;
  font-size: 25px;
  font-family: Geomanist, 'Times New Roman', Times, serif;
  color: rgba(20, 0, 100, 1);
}


.mat-sidenav .nav-menu ul {
 list-style: none;
  padding-left: 0;
}

.mat-sidenav .nav-item {
  padding: 1px 0 5px 0;
}

.mat-sidenav .nav-item a {
  text-decoration: none;
  color: rgba(20, 0, 100, 1);
  display: flex;
  font-size: 20px;
  align-items: center;
  padding: 0.5rem;
  transition: background-color 0.3s;
}

.mat-sidenav .nav-item.active a {  
  background-color: #B10000; /* Couleur d'arrière-plan rouge */  
  border-left: 4px solid rgba(20, 0, 100, 1);  
  color: #fff; /* Texte en blanc */  
}  

.mat-sidenav .nav-item a i {
  font-size: 30px;
  padding-right: 20px;
  padding-left: 20px;
}


.mat-sidenav .sidebar-logo {
  text-decoration: none;
  display: flex;
}

.mat-sidenav .sidebar-logo span {
  font-size: 20px;
  color: rgba(0, 16, 57, 1);
  padding-left: 10px;
  font-size: 20px;
  font-weight: 600;
  opacity: 40%;
}


.dashboard {
    display: flex;
    margin-left: 17px;
    background-color: #EAEAEA;
    margin-top: 10px;
    width: 1050px;
    height: 50px;
    border-radius: 0 20px 0 0;
    padding: 0 1rem;
}

.dashboard span {
    margin-top: 5px;
    padding-left: 5px;
    font-size: 17px;
  /*  color: rgba(20, 0, 100, 1);*/
}



 .demo-section {
  margin-top: 15px;
  margin-left: 850px;
  width: 90px;
}



.decc{
  margin-left: 1000px;
  margin-top: 12px;
  position: fixed;

  i{
    color: #B10000;
  }

}


