<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="welcome-container">
  <div class="welcome-content">
    <h1>Bienvenue, {{signature}} {{etudiant.nom}} {{etudiant.prenom}}!</h1>
    <p class="intro-text">Bienvenue dans votre espace étudiant.</p>
    <p class="details-text">
      Vous aurez accès à de multiples informations essentielles dans le cadre de vos études et de votre progression académique.
    </p>
    <button mat-raised-button color="primary" class="explore-button" (click)="navigateTo()">
      Explorer les fonctionnalités
    </button>
  </div>
</div>

