 

<!-- Un card avec une entête  -->

<div class="container-fluid py-1">
  <div class="row">
    <div class="col-12">
      <div class="card my-1">
        <div class="card-body px-3 pb-2">
          <div class="row">
            <div class="col-6 d-flex align-items-center">
              <p class="h5"> <small>Liste des UE</small></p>
            </div>
            <div class="mt-4 row">
              <div class="col-md-12">
                <table></table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
