<link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
<div class="dep-content">
    
    <div class="menup">
        <div class="box">
            <div class="card">
                <div class="box">
                    <div class="text">
                        <a href="dashboard/volume-horaire"><img src="./assets/images/prof.png"></a>
                        <div class="dash">Professeurs</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="card">
                <div class="box">
                    <div class="text">
                        <a href="dashboard/etudiant"><img src="/src/assets/images/etudiant.png"></a>
                        <div class="Doc">Etudiants</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="card">
                <div class="box">
                    <div class="text">
                        <a href="dashboard/cahier"><img src=""></a>
                        <div class="Dep">Cahier de Textes</div>
                    </div>
                </div>
            </div>
        </div>
    </div>  


</div>

