<!-- Navbar -->
<nav class="navbar  navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" data-scroll="true">
  <div class="container-fluid py-1 px-3">

    <div></div>
    <div></div>

    <form class="form-group divsearchinput shadow">
        <button type="button"><i class="i fluent:search-16-regular" aria-hidden="true"></i></button>
        <input type="text" id="password" class="form-control searchinput" placeholder="Rechercher" required>
   </form>
  </div>
  <diV class="row">
    <div class="col-12"></div>
  </diV>
  <div class="hiuser">
    <span class="d-sm-inline text-lg font-weight-normal opacity-9 d-none salutation"></span>
       <i class="i ph:user-circle-fill hicon"></i>
  </div>

</nav>
    <!-- <ul class="navbar-nav justify-content-end">
      <li>
        </li>
        <li class="nav-item d-flex align-items-center">
        </li>
      </ul>
    </div>
  -->
  <!-- End Navbar -->



          <!-- <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
            <div class="ms-md-auto pe-md-3 d-flex align-items-center">
              <nav aria-label="breadcrumb">
                <h6 class="font-weight-bolder mb-0">Tableau de bord</h6>
              </nav>
            </div>
            <div class="input-group mb-3">
              <button class="btn btn-outline-secondary" type="button" id="button-addon1">Button</button>
              <input type="text" class="form-control" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
            </div> -->
