<div class="doc-content" [class.loading]="isLoading">  
  <h5>Nouvelle demande de permission</h5>  
  <form (ngSubmit)="ajouterPermission()" #permissionForm="ngForm">  
    <div class="fields">  
      <!-- Date début absence -->
      <div class="field name">  
        <label for="dateDebutAbsence"><strong>Date de début d'absence:</strong></label>  
        <input type="date" id="dateDebutAbsence" [(ngModel)]="dateDebutAbsence" name="dateDebutAbsence" required>  
      </div>  

      <!-- Date fin absence -->
      <div class="field name">  
        <label for="dateFinAbsence"><strong>Date de fin d'absence:</strong></label>  
        <input type="date" id="dateFinAbsence" [(ngModel)]="dateFinAbsence" name="dateFinAbsence" required>  
      </div>  

      <!-- Raison -->
      <div class="field name">  
        <label for="raison"><strong>Raison de la permission:</strong></label>  
        <input type="text" id="raison" [(ngModel)]="raison" name="raison" required>  
      </div>  

      <!-- Description -->
      <div class="field name">  
        <label for="description"><strong>Description de la raison:</strong></label>  
        <textarea id="description" [(ngModel)]="description" name="description" required></textarea>  
      </div>  

      <!-- Fichier -->
      <div class="field name">  
        <label for="fichier"><strong>Fichier:</strong></label>  
        <input type="file" id="fichier" (change)="onFileChange($event)">  
      </div>  

      <!-- Boutons -->
      <div class="bou">  
        <div class="button">  
          <button type="submit" [disabled]="!permissionForm.form.valid">Ajouter</button>  
        </div>  
        <div class="button-red">  
          <button type="button" (click)="resetForm()">Annuler</button>  
        </div>  
      </div>  
    </div>  
  </form>  

  <!-- Chargement -->
  <div *ngIf="isLoading" class="loading-overlay">
    <div class="spinner"></div>
  </div>
</div>
