<link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

<div class="doc-content">
  <h2 *ngIf="isProfesseur">Modifier le cahier de texte</h2>
  <h2 *ngIf="!isProfesseur">Nouveau cahier de texte</h2>

  <!-- Formulaire pour l'étudiant ou pour modification par le professeur -->
  <form (ngSubmit)="onSubmit()" #textForm="ngForm" class="cahier-form">
    <div class="fields">
      <div class="field">
        <label for="heureD">Heure de début</label>
        <input type="time" id="heureD" [(ngModel)]="heureDebut" name="heureDebut" required />
      </div>
      <div class="field">
        <label for="heureF">Heure de fin</label>
        <input type="time" id="heureF" [(ngModel)]="heureFin" name="heureFin" required />
      </div>
    </div>

    <div class="fields">
      <label for="contenu">Contenu de la séance</label>
      <textarea id="contenu" [(ngModel)]="contenu" name="contenu" rows="5" required></textarea>
    </div>

    <div class="button-container">
      <button type="submit" [disabled]="!textForm.form.valid" class="btn-submit">{{ isProfesseur ? 'Enregistrer' : 'Ajouter' }}</button>
    </div>
  </form>
</div>
