<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="dashboard-container">
  <div class="dashboard-content">
    <div class="sidebar">
      <ul>
        <li *ngFor="let item of menuItems" (click)="navigateTo(item.name)">
          <mat-icon>{{ item.icon }}</mat-icon>
          <span>{{ item.name }}</span>
        </li>
      </ul>
    </div>

    <div class="main-content">
      <!-- Content dynamically changes here -->
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

