<link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
<div class="dep-content">
    
    <div class="menup">
        <div class="box">
            <div class="card">
                <div class="box">
                    <div class="text">
                         <a href="app-gigi/dashboard/etudiant"><img [src]="'https://plus.unsplash.com/premium_vector-1720579248776-2a76e268de24?q=80&w=1480&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'" height="60" width="80" priority />
                        </a>                       
                         <div class="dash">Vue d'ensemble</div>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="box">
            <div class="card">
                <div class="box">
                    <div class="text">
                        <a href="app-gigi/studentdash/etudiant"><img [src]="'https://plus.unsplash.com/premium_vector-1720579248776-2a76e268de24?q=80&w=1480&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'" height="60" width="80" priority />
                        </a>
                        <div class="Doc">Déjà valider</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="card">
                <div class="box">
                    <div class="text">
                        <a href="app-gigi/studentdash/etudiant"><img [src]="'https://plus.unsplash.com/premium_vector-1720579248776-2a76e268de24?q=80&w=1480&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'" height="60" width="80" priority />
                        </a>
                         <div class="Dep">Attende de validation</div>
                    </div>
                </div>
            </div>
        </div>
    </div>  

    <div class="buttons">
        <!-- Bouton pour la séance déjà créée -->
         <a href="/app-gigi/studentdash/textBook">
             <button class="btn created-session">
                 <i class="ri-checkbox-circle-line"></i> Séance déjà créée
             </button>
         </a>
        
        <!-- Bouton pour créer une nouvelle séance -->
         <a href="/app-gigi/studentdash/textBook">
             <button class="btn new-session">
                 <i class="ri-add-circle-line"></i> nouvelle séance
             </button>
         </a>
    </div>
</div>

