<link href="https://cdn.jsdelivr.net/npm/remixicon/fonts/remixicon.css" rel="stylesheet"><link href="https://cdn.jsdelivr.net/npm/remixicon/fonts/remixicon.css" rel="stylesheet">

<div class="modal-overlay">
    <div class="modal-content">
      <h2>Vous avez réussi la première étape de la soumission de votre document.</h2>
      <p>Cliquez ci-dessous pour passer le test obligatoire de détection de plagiat.</p>
      <button class="test-button" (click)="onClose()">Passer le test</button>
    </div>
</div>