<p class="h3">Profile</p>

<div class="container-fluid px-2 px-md-4">
  <div class="page-header baniere min-height-250 border-radius-xl mt-4"
    style="background-image: url(../assets/img/bannière-DEFI-.png); background-size: cover; background-position: center; background-repeat: no-repeat;">
    <span class=" bg-gradient-info  opacity-6"></span>
  </div>
  <div class="card card-body mx-3 mx-md-4 mt-n6">
    <div class="row gx-4 mb-2">
      <div class="col-auto">
        <div class="avatar avatar-xl position-relative bg-gradient-dark ">
          <!-- <img src="../assets/img/Fond Ecran Swag.jpg" alt="profile_image" class="w-100 h-58 border-radius-lg shadow-sm"> -->
        </div>
      </div>
      <div class="col-auto my-auto">
        <div class="h-100">
          <h4 class="mb-1">
            LIPA johnson
          </h4>
          <p class="mb-0 font-weight-normal text-sm">
            Administrateur
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-12 mt-4">
  <div class="mb-5 ps-3">
    <div class="nav-wrapper position-relative end-0">
      <ul class="nav nav-pills nav-fill p-1" role="tablist">
         <li class="nav-item">
            <a class="nav-link mb-0 px-0 py-1 active" data-bs-toggle="tab" href="#profile-tabs-simple" role="tab" aria-controls="profile" aria-selected="true">
            A propos
            </a>
         </li>
       </ul>
   </div>
  </div>
  <div class="card card-plain h-100 ms-7">
    <div class="card-header pb-0 p-3">
    <div class="row">
    <div class="col-md-8 d-flex align-items-center">
    <h2 class="mb-0">Profile Information</h2>
    </div>
    <div class="col-md-4 text-end">
    <a href="javascript:;">
    <i class="fas fa-user-edit text-secondary text-sm" data-bs-toggle="tooltip" data-bs-placement="top" aria-hidden="true" aria-label="Edit Profile" data-bs-original-title="Edit Profile"></i><span class="sr-only">Edit Profile</span>
    </a>
    </div>
    </div>
    </div>
    <div class="card-body p-3">
    <ul class="list-group">
    <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-dark">Nom :</strong> &nbsp; LIPA</li>
    <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-dark">Prénom :</strong> &nbsp; Johnson</li>
    <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">Mobile:</strong> &nbsp; 79 23 72 53</li>
    <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">Email:</strong> &nbsp; lipajhonegmail.com</li>
    <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">Adresse :</strong> &nbsp; 2 Lion</li>
    <li class="list-group-item border-0 ps-0 pb-0">
    </li>
    </ul>
    </div>
    </div>
