.sidebar {
  background-color: #d9d9d9;
  width: 250px;
  height: calc(100vh - 60px); /* Ajuster en fonction de la hauteur du header */
  position: fixed;
  top: 60px; /* Hauteur du header */
  left: 0;
  padding-top: 20px;
  overflow-y: auto; /* Ajouter un défilement si nécessaire */
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  color: black;
  cursor: pointer;
}

.sidebar li:hover {
  background-color: #da6b6b;
}

.sidebar mat-icon {
  margin-right: 10px;
}
